body {
    font-family: "Gamja Flower", cursive !important;
    font-weight: 400;
    font-style: normal;
}

#startpage {
    text-align: center;
    width: 100vw; 
    height: 100vh; 
    font-family: "Gamja Flower", sans-serif;
    background-image: linear-gradient(135deg, #6EC5E9, #F8F8FF);
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

h1 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 72px; /* h1의 글씨 크기 */
    color: #222527;
}

h5 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 24px; 
    color: #222527;
}

/* 입력 폼과 버튼 스타일 */
#login-form input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

#login-form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #6EC5E9; /* 버튼 색상 */
    color: #222527;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

#login-form button:hover {
    background-color: rgb(100, 200, 100, 0); /* 버튼에 마우스를 올렸을 때 */
}
