/* #startpage div 스타일 설정 */
#startpage {
    text-align: center;
    width: 100vw; /* 전체 화면 너비 */
    height: 100vh; /* 전체 화면 높이 */
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(15, 100, 40); /* 초록색 배경 */
    display: flex; /* 플렉스박스를 사용하여 중앙 정렬 */
    flex-direction: column; /* 수직 방향으로 정렬 */
    justify-content: center; /* 세로 중앙 정렬 */
    align-items: center; /* 가로 중앙 정렬 */
}

/* h1과 h5에 Noto Sans KR 적용 및 글씨 크기 변경 */
h1 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 72px; /* h1의 글씨 크기 */
    color: ivory;
}

h5 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 24px; 
    color: ivory;
}

/* 입력 폼과 버튼 스타일 */
#login-form input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

#login-form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(100, 200, 100, 0.5); /* 버튼 색상 */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#login-form button:hover {
    background-color: rgb(100, 200, 100, 0); /* 버튼에 마우스를 올렸을 때 */
}
